extends layout

block content
    div(class="container")
      div(class="row justify-content-center align-items-center")
        h1(class="display-3")= title
      div(class="row")
        div(class="col-md-6 jumbotron")
            img(src="/images/#{img}", width="100%", max-width="300px")
            form(method="post", enctype="multipart/form-data", action="/", onsubmit="spinner()", style="margin: 10px")
                            input(type="file" name="recfile" display="none")
                            input(type="submit" value="Submit" class="btn")
                            div(class="spinner", id="loader", style="display: none")
                              - for(var i = 0; i < 5; i++)
                                div(class="rect#{i}", style="margin-right:1px")
        div(class="col-md-6")
            canvas(id="myChart" width="600" height="400")


      script.
        console.log('#{results}');
        console.log('#{results}'.replace(/&quot;/g, "\""));
        var balls = JSON.parse('#{results}'.replace(/&quot;/g, "\""));

        topFour = Object.assign(...sortProperties(balls).slice(0,4).map(d => ({[d[0]]: d[1]})));
        console.log(topFour)




        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(topFour),
                datasets: [{
                    label: '% Confidence',
                    data: Object.values(topFour),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        function spinner() {
            document.getElementById("loader").style.display = "inline-block";
        }

        function sortProperties(obj)
        {
          // convert object into array
            var sortable=[];
            for(var key in obj)
                if(obj.hasOwnProperty(key))
                    sortable.push([key, obj[key]]); // each item is an array in format [key, value]

            // sort items by value
            sortable.sort(function(a, b)
            {
              return b[1]-a[1]; // compare numbers
            });
            return sortable; // array in format [ [ key1, val1 ], [ key2, val2 ], ... ]
        }
